language: python

python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6-dev" # 3.6 development branch

matrix:
  allow_failures:
    - python: "3.5-dev"
    - python: "3.6-dev"

install:
  - pip install -e .[dev]

script:
  - py.test src/pygov_br/tests/ --cov --cov-report term-missing -v
  - if [[ $TRAVIS_PYTHON_VERSION > 2.6 ]]; then flake8 src/pygov_br/ ; fi
after_success:
  - coveralls